@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgc: #2E2E2E;
  --color: #ffff;
  --bgHero: url('https://qbmedia.b-cdn.net/qbmedia/card-cover.jpeg');
  --bgProfile: url('logo.svg');
  --borderColor: #E97120;
  --gradient: linear-gradient(90deg, #E68E21 0.02%, #E96F1E 100.02%);
  --font:'Changa', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgc);
  color: var(--color);
  font-family: var(--font);
}

.btn {
  height: 46px;
  width: 204px;
  border-radius: 5px;
  background: var(--gradient);
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  color: var(--bgc);
  font-weight: 500;
}
.svc-btn{
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.svc-btn:hover{
  background: var(--gradient);
  color: #fff;
  border: 0px solid #fff;
}
h1 {
  font-size: 35px;
  font-weight: 500;
}

p {
  font-size: 20px;
  font-weight: 300;
}
.Footer a{
  color: var(--borderColor);
}